manifest {
    name            = 'fpmartinez10/lorgen-variant-calling-pipeline'
    author          = 'Felipe Perez Martinez'
    description     = 'Nextflow DSL2 pipeline for targeted DNA sequencing: BWA alignment, bcftools variant calling, and gnomAD AF filtering'
    nextflowVersion = '>=23.04'
    version         = '1.0.0'
    doi             = ''
}

nextflow.enable.dsl = 2

params {
    reads_dir    = null
    genome_fasta = null
    exome_vcf    = null
    exome_index  = null
    exome_bed    = null
    results_dir  = "${launchDir}/results"
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled    = true
        singularity.enabled = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }

    test {
        params {
            reads_dir    = 'https://github.com/nf-core/test-datasets/raw/refs/heads/modules/data/genomics/homo_sapiens/illumina/fastq'
            genome_fasta = 'https://github.com/nf-core/test-datasets/raw/refs/heads/modules/data/genomics/homo_sapiens/genome/genome.fasta'
            exome_vcf    = null
            exome_index  = null
            exome_bed    = 'https://github.com/nf-core/test-datasets/raw/refs/heads/modules/data/genomics/homo_sapiens/genome/genome.bed'
        }
    }
}

process {
    withName: ALIGN_READS {
        container = 'fpmartinez10/bwa-samtools:1.1'
        publishDir = [
            path: "${params.results_dir}/bam",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: SORT_BAM {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
        publishDir = [
            path: "${params.results_dir}/bam",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: MARK_DUPLICATES {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
        publishDir = [
            path: "${params.results_dir}/bam",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: INDEX_BAM {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
        publishDir = [
            path: "${params.results_dir}/bam",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: BWA_INDEX {
        container = 'fpmartinez10/bwa-samtools:1.1'
    }

    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        publishDir = [
            path: "${params.results_dir}/fastqc",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
        publishDir = [
            path: "${params.results_dir}/multiqc",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: CALL_VARIANTS {
        container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: FILTER_VCF_AF {
        container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }
}

report {
    enabled  = true
    file     = "${params.results_dir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file    = "${params.results_dir}/pipeline_timeline.html"
}

trace {
    enabled = true
    file    = "${params.results_dir}/pipeline_trace.txt"
}

dag {
    enabled = true
    file    = "${params.results_dir}/pipeline_dag.png"
}
