manifest {
    name            = 'lorgen-annotation-filtering-pipeline'
    author          = 'Lucía Chica'
    description     = 'Nextflow DSL2 pipeline for VCF normalisation, gnomAD annotation, and rare-variant filtering'
    nextflowVersion = '>=23.04'
    version         = '1.0.0'
    doi             = ''
}

nextflow.enable.dsl = 2

params {
    vcf_dir               = null
    exome_vcf             = "/mnt/data/exome/gnomad.withchr.bgz.vcf.gz"
    exome_index           = "/mnt/data/exome/gnomad.withchr.bgz.vcf.gz.tbi"
    reference_fasta       = null
    reference_fasta_index = null
    gene_list             = null
    results_dir           = "${launchDir}/results"
}

profiles {
    docker {
        docker.enabled      = true
        singularity.enabled = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

process {
    cpus    = 2
    memory  = '4 GB'
    scratch = true

    withLabel: process_low {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: process_medium {
        cpus   = 4
        memory = '12 GB'
    }

    withName: MERGE_SNP_INDEL {
        container  = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: NORMALIZE_VCF {
        container  = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: ANNOTATE_VCF {
        container  = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: FILTER_AF {
        container  = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: FILTER_BY_GENES {
        container  = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
        publishDir = [
            path: "${params.results_dir}/vcf",
            mode: 'copy',
            overwrite: true
        ]
    }
}

report {
    enabled   = true
    file      = "${params.results_dir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.results_dir}/pipeline_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.results_dir}/pipeline_trace.txt"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.results_dir}/pipeline_dag.png"
    overwrite = true
}
