process {
    cpus    = 2
    memory  = '4 GB'
    scratch = true

    withLabel: process_low {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: process_medium {
        cpus   = 4
        memory = '12 GB'
    }

    withLabel: process_high {
        cpus   = 8
        memory = '20 GB'
    }
}
